.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1798px;
}

.u-section-1 .u-text-1 {
  font-family: Allerta;
  font-size: 3.75rem;
  margin: 22px auto 0;
}

.u-section-1 .u-line-1 {
  width: 425px;
  height: 8px;
  margin: -34px auto 0 20px;
}

.u-section-1 .u-line-2 {
  width: 425px;
  height: 8px;
  margin: -8px 20px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 45px auto 60px -4px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/resultpage.jpg");
  min-height: 419px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 419px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 52px 2px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 35px 1px 0;
}

.u-section-1 .u-line-3 {
  width: 250px;
  height: 6px;
  transform-origin: center top 0px;
  border-style: solid;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.5rem;
  margin: 22px auto 0;
  padding: 20px 19px 20px 18px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 23px 30px 0;
}

.u-section-1 .u-line-4 {
  width: 500px;
  height: 6px;
  transform-origin: center top 0px;
  border-style: solid;
  margin: 5px 24px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 35px 40px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 569px;
  height: 599px;
  margin: -1px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 597px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 593px;
  width: 572px;
  margin: 0 -1px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 598px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 36px 30px 0;
}

.u-section-1 .u-line-5 {
  width: 500px;
  height: 6px;
  transform-origin: center top 0px;
  border-style: solid;
  margin: 13px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1972px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -189px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 197px;
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 486px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 458px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 493px;
  }

  .u-section-1 .u-image-2 {
    width: 458px;
    height: 495px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 492px;
  }

  .u-section-1 .u-image-3 {
    height: 487px;
    width: 470px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 493px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 470px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -75px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -3px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 85px;
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 264px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-line-4 {
    width: 348px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 378px;
  }

  .u-section-1 .u-image-2 {
    width: 348px;
    height: 379px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 377px;
  }

  .u-section-1 .u-image-3 {
    height: 373px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-line-5 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2997px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1170px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -72px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1096px;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 396px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 566px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2083px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1140px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1119px;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 249px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 357px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 358px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 356px;
  }

  .u-section-1 .u-image-3 {
    height: 352px;
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }
}